# docker ignore file.
/build
/dist
/tester
*$py.class
*.egg-info
*.pyc
*.pyd
*.pyo
*.sh
.*
__pycache__
Dockerfile
black.sh
build-docker.sh
build-pyinstaller.sh
build.sh
ci.sh
clean.sh
env-template
flake8.ini
flake8.sh
install.dev.sh
isort.cfg
isort.sh
main.py
mypy.ini
mypy.sh
project.dic
pytest.ini
pytest.sh
python
run
twine.sh
uninstall.sh
