# common
COLORED_LOGGING=True
DEFAULT_LOGGING=False
SIMPLE_LOGGING=False
ROTATE_LOGGING_PREFIX=True
ROTATE_LOGGING_WHEN=D
USE_UVLOOP=False
SEVERITY=info
DEBUG=False
VERBOSE=0

# master
API_HTTP_HOST=0.0.0.0
API_HTTP_PORT=8080
API_HTTP_TIMEOUT=8.0

# system
TZ=<timezone>
USER_UID=<user-id>
USER_GID=<group-id>
